{% extends 'base.html'%} {% block content %}

<div class="container">
    <div class="row blur">
        <form action="{{ url_for('insert_link') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">library_add</i>
                    <select id="category_name" name="category_name">
                    <option value="" required disabled selected>Learning Links Category</option>
                    {% for cat in Categories %}
                    <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                    {% endfor %}
                    </select>
                    <label>LittleLinks | Learning Links</label>
                </div>
            </div>
            <div class="input-field col s12 l6">
                <i class="material-icons prefix">subscriptions</i>
                <input type="text" id="learn_link" name="learn_link" value="{{learn_link}}">
                <label for="learn_link">Learning Link</label>
            </div>
            <div class="input-field col s12 l6">
                <i class="material-icons prefix">add_comment</i>
                <input type="text" id="mentor_message" name="mentor_message">
                <label for="mentor_message">Mentor Message</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">add Learning Link<i class="material-icons right">playlist_add</i>
            </button>
        </form>
    </div>
    <h1 class="endLogo">Little<span><small>LINKS</small></span></h1>
</div>

{% endblock %}