<!-- Main structure, layout and styles used across the site -->
<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<meta charset="UTF-8">
	<title>Little Links Learning</title>
</head>
<body>
	<header>
	<!-- navbar content here  -->
		<nav class="navbar sticky-action navbar-expand-lg navbar-light">
			<a class="brand-logo nav-link active" id="brandLogo" href="/">Little
				<span><small id="logo">LINKS</small></span>
			</a>
            <a href="#" data-target="slide-out" class="right sidenav-trigger">
                <i class="material-icons" id="nav-menu">menu</i>
            </a>
		</nav>
		<ul id="slide-out" class="sidenav">
			<li>
				<div class="user-view">
					<a href="/"><span class="red-text name">Learning<span><small>LINKS</small></span></a>
                    <a href="/"><span class="red-text name">Go Live NOW!</span></a>
				</div>
			</li>
			<li><a href="/">live<i class="material-icons">tv</i>Learn</a></li>
			<li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Manage Database</a></li>
            <li><a href="/"><i class="material-icons">subscriptions</i>Learning Links</a></li>
            <li><a href="/"><i class="material-icons">add_comment</i>New Entry</a></li>
            <li><a href="/"><i class="material-icons">library_add</i>Add Category</a></li>
            <li><a href="/"><i class="material-icons">chrome_reader_mode</i>Categories Database</a></li>
            </li>
		</ul>
        </header>
	{% block content %}{% endblock %}
	<footer class="page-footer">
            <div class="footer-copyright">
                <div class="container-fluid center">
                    <a class="grey-text text-lighten-4" href="/">© 2020 MAC|media Software Solutions ©</a>
                </div>
            </div>
        </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.collapsible').collapsible();
			$('.parallax').parallax();
			$('.sidenav').sidenav();
			$('.materialboxed').materialbox();
		});
		</script>
	<script src='https://meet.jit.si/external_api.js'></script>
	
</body>
</html>
