<!-- Main structure, layout and styles used across the site -->
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" crossorigin="anonymous" href="https://raw.githubusercontent.com/MACmidiDEV/MCAMACHO-DataCentric-CIM3/master/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" crossorigin="anonymous" href="https://raw.githubusercontent.com/MACmidiDEV/MCAMACHO-DataCentric-CIM3/master/favicon-32x32.png" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,200&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<meta charset="UTF-8">
	<title>Little Links Learning</title>
</head>
<body>
	<!-- navBar & sideNav -->
	<header>
	<!-- navbar content here  -->
		<nav id="nav" class="navbar sticky-action navbar-expand-lg navbar-light">
			<a class="brand-logo nav-link active" id="brandLogo" href="/">Little
				<span><small id="logo">LINKS</small></span>
			</a>
            <a href="#" data-target="slide-out" class="right sidenav-trigger">
                <i class="material-icons" id="nav-menu">menu</i>
            </a>
		</nav>
		<!-- sidenav content here  -->
		<ul id="slide-out" class="sidenav">
			<li>
				<div class="user-view">	
					<span class="pink-text name">Little<small>LINKS</small></span>
				</div>
			</li>
			<li>
                <div class="divider"></div>
            </li>
			<li>
				<a href="/liveLearn">live<i class="material-icons">tv</i>Learn</a>
			</li>
			<li>
                <div class="divider"></div>
            </li>
			<li>
				<a class="subheader">Manage Database</a>
			</li>
            <li>
				<a href="/get_Learning"><i class="material-icons">subscriptions</i>Learning Links</a>
			</li>
			<li>
				<a href="/add_link"><i class="material-icons">add_comment</i>New Entry</a>
			</li>
			<li>
				<a href="/add_category"><i class="material-icons">library_add</i>Add Category</a>
			</li>
			<li>
				<a href="/get_categories"><i class="material-icons">chrome_reader_mode</i>Categories Database</a>
			</li>
		</ul>
	</header>
	<!-- flask templating lang. injection point. routes web pages  -->
	{% block content %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/static/javascript/script.js"></script>
	<script src='https://meet.jit.si/external_api.js'></script>
</body>
</html>
