{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
	<div class="parallax hero">
		<img src="/static/images/heroBg.jpg">
	</div>
</div>
<div class="parallax-container section white">
	<div class="container">
		<h2 id="txtStyle" class="header">YouTube<span><small><span><small>LINK</small></span>Manager</small></span></h2>
		<p class="grey-text text-darken-3 lighten-3">Proactively engage in your childs learning.</p>
		<div class="blockQ col-6 offset-s6 right">
			<div class="row">
				<p> Join us in gathering educational videos that will ingage your childern
					<span>
						<blockquote>
							<h3>Help your child develope a passion for learnig and make it <strong>FUN</strong> </h3>
						</blockquote>
						<p class="right">
							Prepare them for the road ahead.
						</p>
					</span>
				</p>
			</div>
		</div>
		<img src="/static/images/gautam.jpg" alt="" class="circle responsive-img" />
	</div>
</div>

<div class="parallax-container">
    <div class="jumbotron right">
        <div class="container center-align shadow p-3 mb-5 bg-white rounded">
            <div class="jumbotron-wrapper-text">
                <h2 id="call">Manage a database to keep your child’s mind active.</h2>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="/static/images/jonathan.jpg" style="height:1200px; padding-top:100px">
        <div class="container">
            <div class="col-12">
                <!-- SPACER -->
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax col-4">
        <div class="img-overlay">
            <img img src="/static/images/markus1.jpg" style="height:1200px; padding-top:100px">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <h4 class="card title center">Routine</h4>
                    <p class="flow-text lead font-weight-light">First, routine is critical. Kids in their early years thrive on routine, and they most consistently get this in school. It’s important to establish a daily routine while your child is at home and to follow it. Set times for reading,
                        math, snack time, lunch, and even free play.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax row">
        <img style="height:1200px; " src="/static/images/agence.jpg/">
        <div class="card" id="liveLearn">
            <div class="card-body center">
                <p class="card title bq-title z-depth-5">Live Learn</p>
                <blockquote class="blockquote bq-warning col-6">
                    <p id="learnTitle" class="flow-text leadFont col-6">
                        Then ask your child to say the next sentence. Continue taking turns adding to the story until it is finished. This is a great development activity for you and your child.
                    </p>
                    <blockquote class="blockquote bq-warning col-6">
                        <p class="flow-text leadFont col-6">
                            With live video chat work together to make up a fun story. Begin a with an opening like “Once upon a time, there was a hungry dog.”
                        </p>
                    </blockquote>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endblock %}