{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
	<div class="parallax hero">
		<img src="/static/images/heroBg.jpg">
	</div>
</div>
<div class="parallax-container section white">
	<div class="container">
		<h2 id="txtStyle" class="header">YouTube<span><small><span><small>LINK</small></span>Manager</small></span></h2>
		<p class="grey-text text-darken-3 lighten-3">Proactively engage in your childs learning.</p>
		<div class="blockQ col-6 offset-s6 right">
			<div class="row">
				<p> Join us in gathering educational videos that will ingage your childern
					<span>
						<blockquote>
							<h3>Help your child develope a passion for learnig and make it <strong>FUN</strong> </h3>
						</blockquote>
						<p class="right">
							Prepare them for the road ahead.
						</p>
					</span>
				</p>
			</div>
		</div>
		<img src="/static/images/gautam.jpg" alt="" class="circle responsive-img" />
	</div>
</div>
{% endblock %}