{% extends 'base.html' %} {% block content %}
<style>
    body {
        height: 100vh;
        background-image: url("./static/images/gautam.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    #centWhite {
        background-color: #614d94c7;
        color: white;
        font-size: large;
        text-align: center;
    }
</style>
<!-- hidden nav injected for spacing issues caused by the way flask injects html templates -->
<div class="inject">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    </nav>
</div>
<!-- displays all LearningLinks in LearningLinks database  -->
<div class="container">
    <div class="row">
        <a href="{{url_for('add_link')}}" class="waves-effect waves-light btn btn-large">New Task</a>
        <ul class="collapsible">
            {% for learn in LearningLinks %}  
            <li>
                <a href="{{url_for('delete_link', link_id=learn._id)}}" class="waves-effect waves-light btn btn_small pink">Done</a>
                <a href="{{url_for('edit_link', link_id=learn._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
            </li>      
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">chrome_reader_mode</i>
                    <span class="right-align">{{learn.category_name}}</span>
                </div>
                <div class="collapsible-body">
                    <div class="video-container">
                        <div id="vid">
                            <iframe src="{{learn.learn_link}}" frameborder="0">{{learn.learn_link}}</iframe>
                        </div>
                    </div>
                    <p id="centWhite">{{learn.mentor_message}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<h1 class="endLogo white">Little<span><small>LINKS</small></span></h1>
{% endblock %}
