{% extends 'base.html' %}
{% block content %}
<head>
    <title>LiveLearn | Link Learning</title>
</head>
<!-- Video equipped web page for live learning via Jitsi Video API -->

<div class="video-container" style="height:95vh;">
    <div id="meet">
    </div>
</div>
<script src='https://meet.jit.si/external_api.js'></script>
<script type="text/javascript">
	const domain = 'meet.jit.si';
	const options = {
		roomName: 'LittleLinksLearning',
		parentNode: document.querySelector('#meet')
	};
	const api = new JitsiMeetExternalAPI(domain, options);
</script>
{% endblock %}