{% extends 'base.html' %}
{% block content %}
{% comment %} Video equipped web page for live learning via Jitsi Video API {% endcomment %}
<head>
	<title>LiveLearn | Link Learning</title>
</head>
<nav id="inject" class="navbar navbar-expand-lg navbar-light bg-light" style="visibility: hidden;">
</nav>
<div id="meet" class="jumbotron" style="height:100vh;">
</div>
<script src='https://meet.jit.si/external_api.js'></script>
<script type="text/javascript">
	const domain = 'meet.jit.si';
	const options = {
		roomName: 'LittleLinksLearning',
		parentNode: document.querySelector('#meet')
	};
	const api = new JitsiMeetExternalAPI(domain, options);
</script>
{% endblock %}